<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <SkipAutoProps>true</SkipAutoProps>
          <Exclude>[ISTestA]*</Exclude>
          <ExcludeByFile>**/obj/**/*.cs,**/*.g.cs,**/*.Designer.cs,**/*.axaml</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
