root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.csproj]
indent_size = 2

# Code files
[*.{cs,vb}]
dotnet_diagnostic.SA0001.severity = none # SA0001XmlCommentAnalysisDisabled
dotnet_diagnostic.CS0169.severity = none # The private field 'class member' is never used
dotnet_diagnostic.SA1009.severity = none # SA1009ClosingParenthesisMustBeSpacedCorrectly
dotnet_diagnostic.SA1111.severity = none # SA1111ClosingParenthesisMustBeOnLineOfLastParameter
dotnet_diagnostic.SA1201.severity = none # SA1201ElementsMustAppearInTheCorrectOrder
dotnet_diagnostic.SA1202.severity = none # SA1202ElementsMustBeOrderedByAccess
dotnet_diagnostic.SA1203.severity = none # SA1203ConstantsMustAppearBeforeFields
dotnet_diagnostic.SA1204.severity = none # SA1204StaticElementsMustAppearBeforeInstanceElements
dotnet_diagnostic.SA1300.severity = none # SA1300ElementMustBeginWithUpperCaseLetter
dotnet_diagnostic.SA1309.severity = none # SA1309FieldNamesMustNotBeginWithUnderscore
dotnet_diagnostic.SA1402.severity = none # SA1402FileMayOnlyContainASingleType
dotnet_diagnostic.SA1600.severity = none # SA1600ElementsMustBeDocumented
dotnet_diagnostic.SA1601.severity = none # SA1600PartialElementsMustBeDocumented
dotnet_diagnostic.SA1602.severity = none # SA1602EnumerationItemsMustBeDocumented
dotnet_diagnostic.SA1633.severity = none # SA1633FileMustHaveHeader
dotnet_diagnostic.SA1649.severity = none # SA1649FileNameMustMatchTypeName
# https://www.jetbrains.com/help/resharper/Reference__Code_Inspections_CSHARP.html
resharper_arrange_trailing_comma_in_multiline_lists_highlighting = none
resharper_comment_typo_highlighting = none
resharper_identifier_typo_highlighting = none
resharper_string_literal_typo_highlighting = none
resharper_unused_auto_property_accessor_global_highlighting = none
resharper_class_never_instantiated_global_highlighting = none
resharper_inconsistent_naming_highlighting = none
resharper_redundant_name_qualifier_highlighting = none
resharper_arrange_this_qualifier_highlighting = none
resharper_unused_member_global_highlighting = none
resharper_member_can_be_private_global_highlighting = none
resharper_out_parameter_value_is_always_discarded_global_highlighting = none

[/de4dot.blocks/**]
generated_code = true

[/de4dot.code/**]
generated_code = true

[/de4dot.mdecrypt/**]
generated_code = true
