name: Build and Upload

on:
  push:
    branches: [ master, feat/**, release/** ]
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request:

env:
  DOTNET_VERSION: net10.0

jobs:
  build:
    name: 'Build'
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        configuration: [ 'Release' ]
        runtime-identifier: [ 'win-x64', 'linux-x64', 'linux-arm64', 'osx-arm64' ]

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup .NET 10.x
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.x
        cache: true
        cache-dependency-path: |
          src/ISTA-Patcher/packages.lock.json
          src/ISTAlter/packages.lock.json
          src/ISTestA/packages.lock.json
          src/ISTgenerAtor/packages.lock.json

    - name: Restore dependencies
      run: |
        dotnet restore src/ISTA-Patcher/ISTA-Patcher.csproj --locked-mode

    - name: Update version info
      if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
      run: |
        proj_file="src/ISTA-Patcher/ISTA-Patcher.csproj"
        version="<InformationalVersion>$(git rev-parse --short HEAD)</InformationalVersion>"
        sed -i "s#<InformationalVersion>[^<]*<\/InformationalVersion>#$version#g" $proj_file

    - name: Publish the application
      env:
        DOTNET_CLI_TELEMETRY_OPTOUT: true
      run: dotnet publish src/ISTA-Patcher --configuration ${{ matrix.configuration }} --runtime ${{ matrix.runtime-identifier }} --no-self-contained -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true

    - name: Copy files
      run: |
        cp -f LICENSE src/ISTA-Patcher/bin/${{ matrix.configuration }}/${{ env.DOTNET_VERSION }}/${{ matrix.runtime-identifier }}/publish/LICENSE

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ISTA-Patcher-${{ matrix.runtime-identifier }}-${{ matrix.configuration }}
        retention-days: 14
        path: |
          src/ISTA-Patcher/bin/${{ matrix.configuration }}/${{ env.DOTNET_VERSION }}/${{ matrix.runtime-identifier }}/publish/*
          !src/ISTA-Patcher/bin/${{ matrix.configuration }}/${{ env.DOTNET_VERSION }}/${{ matrix.runtime-identifier }}/publish/*.pdb
          !src/ISTA-Patcher/bin/${{ matrix.configuration }}/${{ env.DOTNET_VERSION }}/${{ matrix.runtime-identifier }}/publish/*.dbg
          !src/ISTA-Patcher/bin/${{ matrix.configuration }}/${{ env.DOTNET_VERSION }}/${{ matrix.runtime-identifier }}/publish/*.dwarf
